<div id="root"></div>
<div class="index-bg">
  <div class="flexbox">
    <div class="center-text">
      <h1 class="juicy-size">Mr. Cocktail<br>Organizer</h1>
      <ul>
      <% @cocktails.each do |c| %>
      <li><%= link_to c.name, cocktail_path(c), class:"list-cocktail"%>
      </li>
      <% end %>
      </ul>
      <br>

      <div class="button">
      <%= link_to 'Add a new cocktail', new_cocktail_path %>
      </div>
    </div>

    <%= image_tag "cocktails (2).jpg", class: "cocktail-img" %>
     
  </div>
</div>
<%= javascript_pack_tag "application" %>