// Import page-specific CSS files here.
@import "home";
@import "bg";
@import "new";
@import "show";
@import "ImageList";

h1 {
  font-family: $headers-font;
  color: $pink;
}

.button {
  color: $blue;
  font-family: $headers-font;
  font-size: 20px;
  background-color: white;
  padding: 8px;
  width: 170px;
  margin-top: 16px;
}

.flexbox {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  padding: 0 250px;
}

.list-cocktail {
  color: white;
}

.cocktail-img {
  width: 300px;
}

.img-div {
  display: block;
}

.center-text {
  text-align: center;
  padding-top: 100px;
  text-align: left;
}

.juicy-size {
  font-size: 80px;
}

li {
  list-style-type: none;
  padding-top: 8px;
}

ul {
  padding: 0;
  margin: 0;
}

.carousel-inner,
.cocktail-img {
  width: 300px;
  height: 550px;
  padding-top: 64px;
}
